header {
    max-width: 1000px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 3;
    text-align: center;
    background: #000000;
    display: block;
}

header h1.title {
    font-weight: 400;
    font-size: 4vw;
    font-family: Abril Fatface;
    text-transform: uppercase;
}

header h1.title a {
    color: #ffffff;
    text-decoration: none;
}

header h1.title sub {
    font-size: 1vw;
    display: block;
    margin-top: auto;
    text-transform: uppercase;
    font-family: Open Sans;
    color: #ffffff;
    vertical-align: sub;
}