header {
    max-width: 1000px;
    top: 0;
    left: 0;
    padding: 20px 0 0 0;
    position: relative;
    z-index: 3;
    text-align: center;
    background: #000000;
    display: block;
}

header h1.title {
    margin: 15px 0 25px 0;
    font-weight: 400;
    font-size: 4vw;
    font-family: Abril Fatface;
    text-transform: uppercase;
}
